<div id="<%= dom_id budget %>" class="max-w-52 rounded-lg shadow-lg">
  <%= image_tag "grasp.png", size: "740x520", class: "rounded-t-lg" %>

  <%= link_to budget, class: "p-3 flex flex-col items-center" do %>
    <h2 class="text-xl"><%= budget.name %></h2>
    <p class="text-sm">Last used <%= time_ago_in_words(budget.updated_at) %> ago</p>
  <% end %>
</div>
